name: Tea-Blog-Action
on:
  # 设置可以手动执行
  workflow_dispatch:
  push:
    branches:
      - master

  # 每天下午四点执行
  schedule:
    - cron: "0 16 * * *"
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codes

        uses: actions/checkout@v2

      - name: Use Node.js

        uses: actions/setup-node@v1

        with:
          node-version: "14.x"

      - name: Run

        run: npm install

      - run: node catchTxt.js
        # env:
        #   botapi: ${{ secrets.botapi }}
        #   chatid: ${{ secrets.chatid }}

      - name: Upload to this repo

        run: |

          git config --global user.name "tea-blog"

          git config --global user.email "nanfangzhe@qq.com"

          git add .

          git commit -m 'upload Work-Day-Tea-Blog'

          git push -u origin master
